* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262626;
    font-family: Roboto, sans-serif;
}

.nav-container {
    background-color: #2A2929;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

li {
    list-style: none;
    display: inline;
}

.shift {
    margin-top: 40px;
    display: inline;
}

ul a {
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-radius: 2px;
}

.yellow-box:hover {
    background-color: #FFDB07;
    color: #262626;
}

.yellow-box:active {
    background-color: #FFDB07;
}

.green-box:hover {
    background-color: #08FF83;
    color: #262626
}

.green-box:active {
    background-color: #08FF83;
}

.red-box:hover {
    background-color: #FF4F26;
    color: #262626
}

.red-box:active {
    background-color: #FF4F26;
}

.results {
    color: #fff;
    text-align: center;
}